body, html { overflow: visible; background-color: #f0f0f0; }
.header { height: 50px; width: 100%; display: table; background-color: #fff; }
.header img { width: 25px; position: relative; left: 20px; }
.header a { text-decoration: none; }
#keyword { width: 90%; border-radius: 30px; }
h1 { font-size: 30px; font-weight: bold; color: #262626; opacity: 0.9; text-shadow: none; }
h2 { font-size: 36px; font-weight: normal; color: #262626; opacity: 0.8; }
h3 { font-size: 26px; font-weight: bolder; margin-bottom: 0; margin-top: 0; color: #262626; opacity: 0.8; }
h4 { font-size: 18px; font-weight: bolder; opacity: .7; color: #262626; opacity: 0.8; }
/* h5 { font-size: 15px; font-weight: bolder; color: #262626; opacity: 0.8; font-family: 'Hi Melody', cursive; } */
@font-face { font-family: 'BBTreeCL'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeCL.woff') format('woff'); font-weight: normal; font-style: normal; }
h5 { font-size: 13px; font-weight: bolder; color: #262626; opacity: 0.8; }
.header h6 { font-size: 15px; font-weight: normal; color: #5C9FAD; opacity: 0.8; font-family: 'Squada One', sans-serif; }
h6 { font-size: 13px; font-weight: normal; color: #262626; opacity: 0.8; }
h7 { font-size: 12px; font-weight: normal; color: #003D7F; opacity: 0.8; }
@media (max-width: 700px) { .noti { margin-left: 15%; margin-right: 15%; } }
section { color: #fff; padding-top: 40px; padding-bottom: 40px; text-align: center; }
.divider { background-color: #fff; width: 30px; height: 2px; display: inline-block; margin-bottom: 20px; }
.versions { color: #262626; }
.versions h1 { font-weight: normal; margin-top: 60px; margin-bottom: 20px; text-shadow: none; }
.versions h3 { opacity: .7; margin-bottom: 80px; }
.version { background-color: #fff; transition: .1s ease; box-shadow: 0px 2px 20px 0px rgba(0,0,0,.1); transform: translateY(0px); margin-bottom: 40px; border: 15px solid #fff; border-radius: 5px; opacity: 0.9; }
.version:hover { box-shadow: 0px 10px 20px 0px rgba(0,0,0,.3); }
@media (min-width: 800px) { .version { height: 275px; } }
@media (max-width: 1000px) { .version { height: 310px; } }
.version img { max-width: 100%; }
.version a { color: #262626; text-decoration: none; }
.version figure { padding-top: 20px; padding-bottom: 20px; }
.version h4 { font-weight: bold; margin-bottom: 0; margin-top: 0px; opacity: 1; font-size: 17px; }
.version h5 { margin-bottom: 0; margin-top: 0; }
.versions h2 { text-align: left; opacity: .8; font-size: 20px; font-weight: bold; text-transform: uppercase; margin-bottom: 30px; }
.topBtn { width: 45px; height: 45px; background: #5C9FAD; border-radius: 30px; position: fixed; right: 3.5%; bottom: 4.5%; z-index: 1; opacity: 0.9; }
.space { margin-bottom: 50px; }
.space2 { margin-bottom: 9px; }
@media (min-width: 700px) { .mobAd { display: none; } }
@media (max-width: 800px) { .deskAd { display: none; } .topBtn { display: none; } .tabBar { padding-top: 3.5%; } }
.tabBar { width: 96%; height: 80px; margin-left: 2%; position: fixed; bottom: 2%; background: #fff; opacity: 0.8; box-shadow: 0px 2px 20px 0px rgba(0,0,0,.1); border-radius: 100px; }
.tabBar:hover { opacity: 0.9; }
.tabBar div { display: inline-block; width: 32.5%; height: 70px; padding-top: 2.5%; color: #000; font-weight: bold; opacity: 0.9; }
.tabBar div:hover { cursor: pointer; transition: .5s ease; transform: translateY(-3px); opacity: 1; }
figure > div:nth-of-type(2) { font-size: 11px; background: red; border-radius: 20px; color: #fff; display: inline; padding: 1.5%; padding-left: 4%;  padding-right: 4%; opacity: 0.9; }
@media (min-width: 900px) { figure > div:nth-of-type(2) { padding: 2%; padding-left: 5%;  padding-right: 5%; border-radius: 2px; } }
.ol { font-size: 10px; }
.link2, .link3, .link4, .link5 { font-size: 9px; width: 70px; width: 22%; float: left; color: #fff; background: #1465C0; padding: 1.5%; margin: 1.5%; border-radius: 2px; opacity: 0.8; }
.link2:hover, .link3:hover, .link4:hover, .link5:hover { opacity: 1; }
@media (max-width: 800px) { .version { height: 520px; } .space2 { margin-bottom: 24px; } }
